/* line 1, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_reset.scss */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif; }

/* line 12, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_reset.scss */
img {
  max-width: 100%;
  display: block; }

/* line 17, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_reset.scss */
html {
  background-color: #F7F5F9;
  font-size: 62.5%; }

/* line 22, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_reset.scss */
html,
body {
  overflow-x: hidden; }

/* line 27, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_reset.scss */
button {
  background-color: transparent;
  cursor: pointer; }

/* line 1, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_grid.scss */
.container {
  width: 100%;
  max-width: 124.6rem;
  padding: 0 15px;
  margin: 0 auto; }

/* line 6, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_titles.scss */
h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #F7F5F9; }
  @media screen and (max-width: 500px) {
    /* line 6, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_titles.scss */
    h1 {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 72px;
      text-align: center;
      letter-spacing: 0.05em;
      color: #F7F5F9; } }

/* line 28, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_titles.scss */
h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #F53926; }

/* line 38, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_titles.scss */
h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #F7F5F9;
  line-height: 39px; }
  @media screen and (max-width: 500px) {
    /* line 38, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_titles.scss */
    h3 {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: #F7F5F9; } }

/* line 55, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_titles.scss */
p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: rgba(247, 245, 249, 0.7); }

/* line 1, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
.hero {
  background-color: #F53926;
  border-radius: 0 0 10rem 10rem; }
  /* line 4, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
  .hero .container {
    width: 100%;
    padding-top: 5.5rem; }
    /* line 7, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
    .hero .container .burger {
      display: flex;
      justify-content: flex-end;
      padding-right: 1.5rem;
      padding-bottom: 1.5rem; }
    /* line 13, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
    .hero .container .profile {
      display: flex;
      flex-direction: column;
      align-items: center; }
      /* line 17, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
      .hero .container .profile img {
        width: 16rem;
        border-radius: 5rem;
        padding-bottom: 1.8rem; }
      /* line 22, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
      .hero .container .profile h1 {
        padding-bottom: 3.3rem; }
    /* line 26, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
    .hero .container .social-group {
      display: flex;
      justify-content: space-between;
      padding-bottom: 2.3rem; }
      /* line 30, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
      .hero .container .social-group .social {
        display: flex;
        align-items: center; }
        /* line 33, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
        .hero .container .social-group .social img {
          width: 6.24rem; }
        /* line 37, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
        .hero .container .social-group .social .info p {
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16.9px;
          line-height: 25px;
          color: rgba(247, 245, 249, 0.7); }
      /* line 47, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
      .hero .container .social-group .info {
        padding-left: 2.3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; }
    /* line 55, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
    .hero .container .parceria {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 4.4rem; }
      /* line 60, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
      .hero .container .parceria h3 {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 31px; }
      /* line 67, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
      .hero .container .parceria .contatos {
        display: flex;
        align-items: center; }
        /* line 71, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
        .hero .container .parceria .contatos a:not(:last-child) {
          margin-right: 5rem; }
        /* line 76, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
        .hero .container .parceria .contatos .parceria-block {
          padding-top: 1.7rem;
          display: flex;
          align-items: center; }
          /* line 77, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
          .hero .container .parceria .contatos .parceria-block img {
            padding-right: 1rem; }
          /* line 80, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
          .hero .container .parceria .contatos .parceria-block p {
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16.9px;
            line-height: 25px; }
            /* line 86, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
            .hero .container .parceria .contatos .parceria-block p:hover {
              color: #FFFFFF; }
  @media (max-width: 1240px) {
    /* line 1, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
    .hero {
      border-radius: 0 0 5rem 5rem; } }
  @media (max-width: 800px) {
    /* line 103, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
    .hero .container .profile h1 {
      font-size: 3.8rem;
      line-height: 5rem;
      padding-bottom: 1.5rem; }
    /* line 109, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
    .hero .container .social-group {
      flex-wrap: wrap;
      justify-content: space-around;
      padding-bottom: 0; }
      /* line 114, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
      .hero .container .social-group .social {
        width: 40%;
        justify-content: center;
        padding-bottom: 1.4rem; }
    /* line 123, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
    .hero .container .parceria .contatos a:not(:last-child) {
      margin-right: 2rem; }
    /* line 128, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
    .hero .container .parceria .contatos .parceria-block p {
      font-size: 1.3rem; } }
  @media (max-width: 610px) {
    /* line 138, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
    .hero .container .parceria {
      padding-bottom: 2.4rem; }
      /* line 139, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
      .hero .container .parceria h3 {
        font-size: 20px;
        line-height: 24px; }
      /* line 146, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
      .hero .container .parceria .contatos a:not(:last-child) {
        margin-right: 8rem; }
    /* line 153, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
    .hero .container .parceria-block p {
      display: none; }
    /* line 158, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
    .hero .container .social-group .social {
      justify-content: flex-start; }
      /* line 160, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
      .hero .container .social-group .social img {
        width: 100%; } }
  @media (max-width: 500px) {
    /* line 172, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
    .hero .container .social-group .social .info p {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px; } }
  @media (max-width: 365px) {
    /* line 186, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
    .hero .container .social-group .social {
      width: 50%; }
      /* line 188, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
      .hero .container .social-group .social .info {
        padding-left: 0; } }

/* line 199, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
.mid .container h2 {
  padding: 3.8rem 0 3rem 0;
  font-size: 38px; }

/* line 203, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
.mid .container .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  /* line 209, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
  .mid .container .cards .card {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    align-items: center;
    width: 100%;
    max-width: 28rem;
    background-color: rgba(197, 190, 220, 0.1);
    transition: all 0.3s; }
    /* line 228, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
    .mid .container .cards .card:not(:last-child) {
      margin-right: 3rem; }
    /* line 231, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
    .mid .container .cards .card img {
      width: 100%;
      max-width: 60%;
      color: orange; }
    /* line 236, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
    .mid .container .cards .card .hidden {
      display: none; }
    /* line 240, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
    .mid .container .cards .card:hover {
      background-color: #F53926; }
      /* line 242, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
      .mid .container .cards .card:hover h2 {
        color: #F7F5F9; }
      /* line 245, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
      .mid .container .cards .card:hover .hidden {
        display: flex; }
      /* line 248, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
      .mid .container .cards .card:hover .normal {
        display: none; }

@media (max-width: 1120px) {
  /* line 260, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
  .mid .container .cards .card h2 {
    font-size: 2.5rem; } }

@media (max-width: 880px) {
  /* line 269, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
  .mid .container .cards {
    flex-wrap: wrap;
    justify-content: space-around; }
    /* line 272, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
    .mid .container .cards .card {
      min-width: 40%;
      margin-bottom: 3rem; }
      /* line 274, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
      .mid .container .cards .card:not(:last-child) {
        margin-right: 0; }
      /* line 278, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
      .mid .container .cards .card h2 {
        font-size: 2.5rem; } }

@media (max-width: 612px) {
  /* line 288, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
  .mid .container .cards .card {
    min-width: 40%;
    max-width: 18rem;
    margin-bottom: 3rem; }
    /* line 291, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
    .mid .container .cards .card:not(:last-child) {
      margin-right: 0; }
    /* line 295, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
    .mid .container .cards .card h2 {
      font-size: 2.5rem; } }

@media (max-width: 390px) {
  /* line 305, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
  .mid .container .cards .card {
    min-width: 40%;
    max-width: 16rem;
    margin-bottom: 3rem; }
    /* line 308, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
    .mid .container .cards .card:not(:last-child) {
      margin-right: 0; }
    /* line 312, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
    .mid .container .cards .card h2 {
      font-size: 2rem; } }

/* line 320, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
.footer {
  margin-top: 6rem;
  background-color: rgba(197, 190, 220, 0.1);
  text-align: center;
  padding: 20px;
  color: rgba(197, 190, 220, 0.1); }
  /* line 327, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
  .footer p {
    margin: 0;
    color: #F53926; }
    /* line 330, ../../../../../Users/ghedyvan/Library/Mobile Documents/com~apple~CloudDocs/Projetos/myrlla/scss/_home.scss */
    .footer p a {
      color: blue; }

/*# sourceMappingURL=main.css.map */